name: marp-to-pages
concurrency: marp-to-pages
on:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Marp Build HTML - README
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: README.md -o build/index.html
        env:
          MARP_USER: root:root

      - name: Marp Build HTML - docs folder
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: -I assets/markdown/ -o build/docs/ --bespoke.transition --preview
        env:
          MARP_USER: root:root

      - name: Marp Build PDF - docs folder
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: -I assets/markdown/ -o build/docs/ --pdf
        env:
          MARP_USER: root:root

      - name: Deploy preview
        if: ${{ github.event_name == 'pull_request' }}
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
          preview-branch: gh-pages
          umbrella-dir: pr-preview

      - name: Deploy production
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./build/
          clean-exclude: pr-preview/